---
import TechBadge from "./common/TechBadge.astro";
---

<div class="flex flex-wrap gap-2">
    <TechBadge techName="Transformers" />
    <TechBadge techName="FastAPI" />
    <TechBadge techName="React" />
    <TechBadge techName="Next.js" />
    <TechBadge techName="Express" />
    <TechBadge techName="Django" />
    <TechBadge techName="Ruby on Rails" />
</div>
