---
import TechBadge from "./common/TechBadge.astro";
---

<div class="flex flex-wrap gap-2">
    <TechBadge techName="Git" />
    <TechBadge techName="Github Actions" />
    <TechBadge techName="Circle CI/CD" />
    <TechBadge techName="gRPC" />
    <TechBadge techName="RESTful API" />
    <TechBadge techName="WebSocket" />
    <TechBadge techName="WebRTC" />
</div>
